@page { margin:14pt  0pt  16pt  0pt; } 
body
{
margin-left:18pt;
margin-right:18pt;
font-family:"Archer-Book","AGaramondPro-Regular",Times,serif;
max-width:45rem;
margin-left: auto;
margin-right: auto;
}
/*Start cover Page*/
.cover
{
text-align:center;
margin-top:0pt;
margin-bottom:0pt;
margin-left:0pt;
margin-right:0pt;
text-indent:0pt;
}
img
{
max-width:100%;
max-height:100%;
}
sup
{
vertical-align:super;
line-height:5pt;
font-size:8pt;
font-family:"Archer-Book","AGaramondPro-Regular",Times,serif;
}
sub
{
font-size:7pt;
line-height:.5em;
}
a
{
text-decoration:none;
}
.coverpage
{
margin:0pt;
text-align:center;
}
/*End cover Page*/
/*Chapter Headings*/
.fmtitle
{
display:block;
margin-top:5pt;
margin-bottom:30pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
font-size:20pt;
text-align:center;
font-weight:bold;
font-family:"Archer-Book","AGaramondPro-Regular",Times,serif;
line-height:1em;
}
.bmtitle
{
display:block;
margin-top:50pt;
margin-bottom:25pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
font-size:25pt;
text-align:left;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.fmtitle1
{
display:block;
margin-top:5pt;
margin-bottom:30pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
font-size:20pt;
text-align:center;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
/*Chapter Ends here*/
/*Content Headers Starts here*/
.fsection1
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:23pt;
text-indent:-23pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
}
.fsection1a
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:25pt;
text-indent:-22pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
}
.fsection2
{
display:block;
margin-top:30pt;
margin-bottom:10pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:13pt;
font-family:"Archer-Book",Times,serif;
}
.centerc
{
display:block;
margin-top:1pt;
margin-bottom:6pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
/*Content Headers Ends here*/
/*Content Paragraphs Starts here*/
.noindent
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.noindentf
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:23pt;
text-indent:0pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.noindentf2
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:48pt;
text-indent:0pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
/*Content Paragraphs Ends here*/
/*Content List Starts here*/
/*Content List Ends here*/
/*Content Box Starts here*/
/*Content Box Ends here*/
/*Content Footnote Starts here*/
/*Content Footnote Ends here*/
/*Content Center/Left/Right/hang Styles Starts here*/
.center
{
display:block;
margin-top:6pt;
margin-bottom:6pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.center-fm2
{
display:block;
margin-top:50pt;
margin-bottom:12pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:15pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.center-fm
{
display:block;
margin-top:12pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.center-fm1
{
display:block;
margin-top:1pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
/*Content Center/Left/Right Ends here*/
/*Content Miscellaneous Starts here*/
p
{
margin-bottom:6pt;
}
span.bold
{
font-weight:bold;
}
span.italic
{
font-style:italic;
}
/*Content Miscellaneous Ends here*/
/*Content Front-Matter Starts here*/
.halftitle
{
display:block;
margin-top:12pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:18pt;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.halftitle1
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:25pt;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.title
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:20pt;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.title1
{
display:block;
margin-top:2pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:25pt;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.subtitle
{
display:block;
margin-top:12pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:50pt;
text-indent:0pt;
text-align:left;
font-size:11pt;
font-weight:bold;
font-family:"Gautami",sans-serif;
line-height:1em;
background-color:#000000;
color:#ffffff;
padding:6px;
}
.edition
{
display:block;
margin-top:50pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:16pt;
font-family:"Archer-Book",Times,serif;
}
.series
{
display:block;
margin-top:80pt;
margin-bottom:0pt;
margin-right:25pt;
margin-left:0pt;
text-indent:0pt;
text-align:right;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.author
{
display:block;
margin-top:15pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:15pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.author1
{
display:block;
margin-top:1pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.editor
{
display:block;
margin-top:20pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
/*Content Front-Title-page Ends here*/
/*Content Front-Copyright-page Starts here*/
.copyright2
{
display:block;
margin-top:12pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:justify;
font-size:10pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.copyright
{
display:block;
margin-top:12pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:justify;
font-size:10pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.copyright1
{
display:block;
margin-top:0pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:justify;
font-size:10pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.copyright1a
{
display:block;
margin-top:0pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:25pt;
text-indent:0pt;
text-align:justify;
font-size:10pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
/*Content Front-Copyright-page Ends here*/
/*Content Front-Dedication-page Start here*/
/*Content Front-Dedication-page Ends here*/
/*Content Front-Table of Contents Start here*/
ol
{
padding:0pt;
margin:0pt;
}
li
{
margin:0pt;
padding:0pt;
list-style-type:none;
}
.fm_title
{
display:block;
margin-top:12pt;
margin-bottom:8pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
font-size:16pt;
text-align:center;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.toc
{
display:block;
margin-top:16pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:20pt;
text-indent:-20pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.tocc
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:20pt;
text-indent:-20pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.toc1
{
display:block;
margin-top:1pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:50pt;
text-indent:-28pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.toc1a
{
display:block;
margin-top:1pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:14pt;
text-indent:-14pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.toc1b
{
display:block;
margin-top:1pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:15.5pt;
text-indent:-15.5pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.toc3
{
display:block;
margin-top:1pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:56pt;
text-indent:-18pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.toc4
{
display:block;
margin-top:1pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:79pt;
text-indent:-23pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.toc4a
{
display:block;
margin-top:1pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:75pt;
text-indent:-18pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.chtoc4ah
{
display:block;
margin-top:1pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:117pt;
text-indent:-20pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.toc5
{
display:block;
margin-top:1pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:102pt;
text-indent:-23pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.toc2
{
display:block;
margin-top:1pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:38pt;
text-indent:-18pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
/*Content Table Styles Start here*/
/*Content Table Styles End here*/
/*Content Page number display Start here*/
/*Synopsis levels Start*/
/*Synopsis levels End*/
/*Start Index*/
/*Content Front-Table of Contents Ends here*/
.cases
{
display:block;
margin-top:1pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:12pt;
text-indent:-12pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.state
{
display:block;
margin-top:1pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
/*End Index*/
.publisher
{
display:block;
margin-top:15pt; 
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
}
.publisher1
{
display:block;
margin-top:5pt; 
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:right;
}
.bull
{
display:block;
margin-top:3pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:25pt;
text-indent:-15pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.list
{
display:block;
margin-top:3pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:34pt;
text-indent:-22pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.ntoc
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
}
.ntoc_chap
{
display:block;
margin-top:10pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:28pt;
text-indent:-28pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
}
.ntoc1
{
display:block;
margin-top:2pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:16pt;
text-indent:-16pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
/*Content Page number display End here*/
.pagebreak
{
display:block;
margin-top:12pt;
margin-bottom:12pt;
margin-right:0pt;
text-indent:0pt;
text-align:center;
font-size:12pt;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
	page-break-before: always	
}
/*Content Headers Starts here*/
.section1
{
display:block;
margin-top:15pt;
margin-bottom:15pt;
margin-right:0pt;
text-indent:0pt;
text-align:center;
font-size:15pt;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.section1a
{
display:block;
margin-top:20pt;
margin-bottom:10pt;
margin-right:0pt;
padding-left:26pt;
text-indent:-26pt;
text-align:justify;
font-size:25pt;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
line-height:1em;
padding-bottom:5px;
border-bottom:solid 2px;
}
.section2
{
display:block;
margin-top:20pt;
margin-bottom:10pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:13pt;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.section3
{
display:block;
margin-top:12pt;
margin-bottom:6pt;
margin-right:0pt;
margin-left:47pt;
text-indent:-22pt;
text-align:left;
font-size:13pt;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.section4
{
display:block;
margin-top:12pt;
margin-bottom:6pt;
margin-right:0pt;
margin-left:73pt;
text-indent:-25.5pt;
text-align:left;
font-size:12pt;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.section5
{
display:block;
margin-top:6pt;
margin-bottom:6pt;
margin-right:0pt;
margin-left:99pt;
text-indent:-26pt;
text-align:justify;
font-size:12pt;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.section6
{
display:block;
margin-top:6pt;
margin-bottom:6pt;
margin-right:0pt;
margin-left:121pt;
text-indent:-26pt;
text-align:justify;
font-size:12pt;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.s-sec1
{
display:block;
margin-top:10pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
font-size:10pt;
text-align:left;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.s-sec2
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:55pt;
text-indent:-17pt;
font-size:10pt;
text-align:left;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.s-sec3
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:73pt;
text-indent:-18pt;
font-size:10pt;
text-align:left;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.s-sec3bm
{
display:block;
margin-top:6pt;
margin-bottom:6pt;
margin-right:0pt;
margin-left:18pt;
text-indent:-18pt;
font-size:11pt;
text-align:justify;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.s-sec4
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:93pt;
text-indent:-20.5pt;
font-size:10pt;
text-align:left;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.s-sec5
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:113pt;
text-indent:-20.3pt;
font-size:10pt;
text-align:left;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.noindent-h
{
display:block;
margin-top:15pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:18pt;
text-indent:-18pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.noindent-h1
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:58pt;
text-indent:-58pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.noindent2
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:25pt;
text-indent:0pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.noindent3
{
display:block;
margin-top:40pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:10pt;
text-indent:0pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.noindent4
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:73pt;
text-indent:0pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.noindent5
{
display:block;
margin-top:60pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.chaptitle
{
display:block;
margin-top:10pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
font-size:16pt;
text-align:center;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
line-height:1em;
padding:5px;
border:solid 1px;
border-radius:20px 20px 20px 20px;
}
.chaptitle1
{
display:block;
margin-top:40pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
font-size:18pt;
text-align:center;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.chaptitle2
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
font-size:13pt;
text-align:center;
font-weight:normal;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.stitle
{
display:block;
margin-top:10pt;
margin-bottom:10pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
font-size:10pt;
text-align:left;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
padding-bottom:3px;
padding-top:3px;
border-bottom:solid 1px;
border-top:solid 1px;
}
span.blue
{
color:#0000ff;
}
.noindent-bm
{
display:block;
margin-top:0pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:40pt;
text-indent:-40pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.noindent-bm1
{
display:block;
margin-top:0pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:40pt;
text-indent:-40pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.centerbm
{
display:block;
margin-top:6pt;
margin-bottom:6pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.bull-2
{
display:block;
margin-top:3pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:33pt;
text-indent:-14pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.bull-3
{
display:block;
margin-top:3pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:60pt;
text-indent:-14pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.bull-4
{
display:block;
margin-top:3pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:74pt;
text-indent:-13pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.exe-1
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:115pt;
text-indent:-55pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.exe-2
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:75pt;
text-indent:-55pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.hang-4
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:71pt;
text-indent:-25pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.exe
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:115pt;
text-indent:-68.5pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.exe1
{
display:block;
margin-top:6pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:115pt;
text-indent:0pt;
text-align:justify;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.image
{
display:block;
margin-top:10pt;
margin-bottom:10pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.imagefr
{
display:block;
float:right;
margin-top:10pt;
margin-bottom:10pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
}
.imager
{
display:block;
margin-top:2pt;
margin-bottom:0pt;
margin-right:20pt;
margin-left:0pt;
text-indent:0pt;
text-align:right;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.atoc
{
display:block;
margin-top:10pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
}
.atoc1
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.atoc1a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:26pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.atoc2
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.atoc2a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:48pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.atoc3
{
display:block;
margin-top:10pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:70pt;
text-indent:-22.5pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.atoc3a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:70pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.atoc4
{
display:block;
margin-top:10pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:93pt;
text-indent:-22.5pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.atoc4a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:93pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.atoc5
{
display:block;
margin-top:10pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:115pt;
text-indent:-22.5pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.atoc5a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:122pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.atoc6
{
display:block;
margin-top:10pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:145pt;
text-indent:-22.5pt;
text-align:left;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.atoc6a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:148pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.chtoc1
{
display:block;
margin-top:10pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:22.5pt;
text-indent:-22.5pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.chtoc1a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:26pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.chtoc2
{
display:block;
margin-top:10pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:49pt;
text-indent:-22.5pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.chtoc2a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:48pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.noindent1
{
display:block;
margin-top:15pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
span.dropcap
{
float:left;
margin-top:1pt;
}
.chtoc3a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:70pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.chtoc3ah
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:90pt;
text-indent:-20pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.chtoc4a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:95pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.chtoc5a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:120pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.chtoc6a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:147pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
div.boxgrey1
{
margin:10px;
padding:10px;
border:solid 1px;
background-color:#E7E8E9;
border-radius: 20px 20px 20px 20px;
}
.boxhead
{
display:block;
margin-top:10pt;
margin-bottom:20pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:13pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.box-para
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.box-para1
{
display:block;
margin-top:20pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.box-para2
{
display:block;
margin-top:30pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.box-para3
{
display:block;
margin-top:40pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.box-para5
{
display:block;
margin-top:60pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.boxhead1
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:14pt;
font-family:"Calibri",sans-serif;
line-height:1em;
padding-bottom:10pt;
padding-left:5pt;
padding-right:5pt;
color:#ffffff;
}
.boxhead1a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:14pt;
font-family:"Calibri",sans-serif;
line-height:1em;
padding-bottom:10pt;
padding-left:5pt;
padding-right:5pt;
color:#ffffff;
}
.boxpara-h
{
display:block;
margin-top:10pt;
margin-bottom:6pt;
margin-right:10pt;
margin-left:35pt;
text-indent:-21.3pt;
text-align:justify;
font-size:12pt;
font-weight:normal;
font-family:"Calibri",sans-serif;
line-height:1em;
}
.section7
{
display:block;
margin-top:6pt;
margin-bottom:6pt;
margin-right:0pt;
margin-left:148pt;
text-indent:-26pt;
text-align:justify;
font-size:12pt;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.chtoc6ah
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:169pt;
text-indent:-20pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.chtoc2ah
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:70pt;
text-indent:-22pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.chtoc1ah
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:50pt;
text-indent:-22pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.section8
{
display:block;
margin-top:6pt;
margin-bottom:6pt;
margin-right:0pt;
margin-left:173pt;
text-indent:-26pt;
text-align:justify;
font-size:12pt;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.chtoc7a
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:173pt;
text-indent:0pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.section1b
{
display:block;
margin-top:20pt;
margin-bottom:10pt;
margin-right:0pt;
padding-left:26pt;
text-indent:-26pt;
text-align:left;
font-size:30pt;
font-weight:bold;
font-family:"Archer-Book",Times,serif;
line-height:1em;
padding-bottom:5px;
border-bottom:solid 2px;
}
.chtocah
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:22pt;
text-indent:-22pt;
text-align:justify;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
}
.ded1
{
display:block;
margin-top:12pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.ded
{
display:block;
margin-top:10pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:11pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.noindentz1
{
display:block;
margin-top:15pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:30pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.imaget
{
display:block;
margin-top:15pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.imagetl
{
display:block;
float:left;
margin-top:0pt;
margin-bottom:0pt;
margin-right:8pt;
margin-left:8pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.points
{
display:block;
margin-top:15pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:14pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.noindent-box1
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:50pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.noindent-box
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
div.box-ss
{
margin:10px;
padding:10px;
border:solid 18px #E7E8E9;
}
div.box
{
margin:10px;
padding:20px;
border:solid 1px #000000;
}
div.boxl
{
margin:10px;
padding:20px;
border:solid 2px #a8a9ac;
}



.box-head-ss
{
display:block;
margin-top:10pt;
margin-bottom:20pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:12pt;
font-family:"Calibri",sans-serif;
line-height:1em;
}
.box-head-ss1
{
display:block;
margin-top:10pt;
margin-bottom:20pt;
margin-right:0pt;
margin-left:10pt;
text-indent:0pt;
text-align:left;
font-size:15pt;
font-family:"Calibri",sans-serif;
line-height:1em;
}
.box-parass1
{
display:block;
margin-top:15pt;
margin-bottom:0pt;
margin-right:10pt;
margin-left:10pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Calibri",sans-serif;
line-height:1em;
}
.box-parassh
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:10pt;
margin-left:50pt;
text-indent:-22pt;
text-align:left;
font-size:12pt;
font-family:"Calibri",sans-serif;
line-height:1em;
}
.noindent-b
{
display:block;
margin-top:15pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:41pt;
text-indent:-14pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.noindent-b3
{
display:block;
margin-top:45pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:41pt;
text-indent:-14pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.box-head1
{
display:block;
margin-top:5pt;
margin-bottom:10pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:15pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
div.box2
{
margin:10px;
padding:5px;
border:solid 7px #B6B8BA;
}
div.box2a
{
margin:0px;
padding:15px;
border:solid 3px #B6B8BA;
}
.noindent-ha
{
display:block;
margin-top:15pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:31pt;
text-indent:-14.3pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.box-head2
{
display:block;
margin-top:15pt;
margin-bottom:15pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:13pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
div.boxgrey2
{
margin:10px;
padding:10px;
border-left:solid 1px;
border-top:solid 1px;
background-color:#E7E8E9;
}
div.box2b
{
margin:10px;
padding:5px;
background-color:#ffffff;
}
.noindent-h2
{
display:block;
margin-top:15pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:39pt;
text-indent:-21pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.box-parar
{
display:block;
margin-top:5pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:200pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.box-parac
{
display:block;
margin-top:10pt;
margin-bottom:10pt;
margin-right:0pt;
margin-left:0pt;
text-indent:0pt;
text-align:center;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.box-paraz
{
display:block;
margin-top:15pt;
margin-bottom:0pt;
margin-right:0pt;
margin-left:20pt;
text-indent:0pt;
text-align:left;
font-size:12pt;
font-family:"Archer-Book",Times,serif;
line-height:1em;
}
.clear
{
clear:both;
}
